body{
    background-color:#c9c1af;
}

.top {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 0px;
    clear: none;
    border-bottom: 2px solid black;
    
    
}
.top :hover{
    font-size:30px;
}

a {
    text-decoration: none;
    color: black;
}



#banner {
    background-image: url("https://cdn.pixabay.com/photo/2019/09/29/22/06/light-bulb-4514505__340.jpg");
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    opacity: 0.7;
    animation-name: example;
    font-family: Castellar;
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 10px;
}
 


h1 {
    color: black;
    font-size: 70px;
    text-align: center;
    position: relative;
    top: 100px;
    width: fit-content;
    margin: 0 auto;
    font-family: Castellar;
    font-weight: 600;
}





.quote {
    /*background-image: url("https://cdn.pixabay.com/photo/2016/10/12/23/23/mining-excavator-1736293_960_720.jpg");*/
    background-size: cover;
    background-position: bottom center;
    background-blend-mode: lighten;
    height: 400px;
    width: 100%;
    opacity: 1;
    animation-name: example;
}

    .quote p {
        position: relative;
        top: 100px;
        margin: 0 auto;
        font-size: 30px;
        color: black;
        font-family:'Goudy Old Style';
        font-weight: 600;
        text-align: center;
    }

.promo {
    /*background-image: url("https://media.istockphoto.com/photos/easter-island-picture-id1192896462?k=20&m=1192896462&s=612x612&w=0&h=602DI1q9o1_aBT3Hz71NuJtyQX1ZcOxmxGbTV0Njm2M=") */
    background-size: cover;
    background-position: bottom center;
    background-blend-mode: lighten;
    height: 400px;
    width: 100%;
    opacity: 1;
    animation-name: example;
}

    .promo p {
        position: relative;
        top: 100px;
        margin: 0 auto;
        font-family: 'Goudy Old Style';
        text-align: center;
        font-size: 30px;
        color: black;
    }
    .promo a {
        color: red;
        font-family:'Goudy Old Style';
        font-weight: 600;
        text-align: center;
        font-size: 30px;
        position: relative;
        top: 100px;
        margin: 0 auto;
    }

h6 {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Goudy Old Style';
    height: 150px;
    margin: 0 auto;
    padding: 10px 10px;
    color: white;
    background-color: black;
}


@keyframes example {
    from {
        font-weight: 100;
    }

    to {
        font-weight: 800;
    }
}
